.sign-up-button{
	background-color: dodgerblue;
	color:white;
	padding: 16px;
	width: 120px;
	border: none;
	border-radius: 7px;
	font-size: 16px;
	font-weight: 1000;
	letter-spacing: 1.5;
}

.sign-up-button:hover{
	background-color: rgb(19, 97, 175);
	cursor: pointer;
}
#mockup2{
	margin:50px;
}
.card{
	height: 480px;
	width: 240px;
	background-color:antiquewhite;
	display: flex;
	flex-flow:column;
	border-radius: 25px;
	border: lightgray 1px solid;
	
}

.card-title{
	border-bottom: lightgray 1px solid;
	padding:  12px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.card-text{
	text-align: left;
  padding: 0 25px;
}
#image{
	border-radius: 25px 25px 0 0;
}

.flexbox{
	display:flex;
}

#gif-1{

	background-image: url("https://media.giphy.com/media/VEzYdo930nTiTuVeMU/giphy.gif");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.overlay, .flexbox-img{
	margin:60px;
	width: 240px;
	height: 240px;
	border-radius: 16px;
	border: rgb(250, 185, 178) 4px solid;
}

.flexbox-img{
	opacity:1;
	position: relative;
}
.overlay{
	position:absolute;
	background-color: black;
	opacity: 1;
}
